.flex {
  display: flex;
  align-items: center;
}
.between {
  @extend .flex;
  justify-content: space-between;
}
.around {
  @extend .flex;
  justify-content: space-around;
}
.between-column {
  @extend .between;
  flex-direction: column;
}
.around-column {
  @extend .around;
  flex-direction: column;
}

.header_box {
    padding-top: 6vh;
}
.overflow-text-el {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}