.page-transfer {
	&-enter, &-active {
		transform: translateX(100px);
	}
	&-enter-to {
		transform: translateX(0px);
	}
	&-leave, &-leave-active {
		transform: translateX(0px);
	}
	&-leave-to {
		transform: translateX(0px);
	}
}
